<section class="my-3 p-3">
  <% if @public_recipes.empty? %>
    <h3 class="text-center">No public recipes found from other users</h3>
  <% else %>
    <%= render @public_recipes %>
  <% end %>
</section>