<div class="row border border-2 rounded rounded-2 mb-3 p-3">
  <div class="col d-flex flex-column justify-content-between">
    <%= link_to recipe.name, recipe, class: 'nav-link fs-4 fw-bold' %>
    <% if recipe.user == current_user %>
    <%= button_to 'REMOVE', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'fs-6 text-decoration-none' %>
  <% end %>

  </div>
  <div class="col-10">
    <span><%= recipe.description %></span>
  </div>
</div>