* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  --color-primary: #398404;
  --color-primary-light: #201717;
  --color-text-orange: #201717;
  --color-text-red: #c00;
  --color-text-black: #353333;
  --color-text-gray-light: #535151;
  --color-text-gray: #797979;
}

.navbar {
  background: linear-gradient(135deg, #5324c3, #ff00b1);
  padding: 10px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 3.7rem;
  color: black;
  text-decoration: none;
  margin-left: 2%;
}

.nav-link {
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  color: #201717;
  margin-right: 20px;
  text-decoration: none;
}

.nav-item {
  color: #000000;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #000000;
  text-shadow: 0 0 15px rgba(59, 58, 58, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}
